{
    "extends": ["airbnb-base"],
    "plugins": ["@typescript-eslint", "jest"],
    "parser": "@typescript-eslint/parser",
    "rules": {
      "import/no-unresolved": 0
    },
    "env": {
      "jest/globals": true
    },
    "parserOptions": {
      "project": "./tsconfig.eslint.json"
    }
  }